
.header {
    display: flex;
    border-bottom: 1px lightgray solid;
    font-family: roboto;
}

.nameBrand {
    margin-left: 15px;
}

.buttonsHead {
    margin: 30px 30px 0 auto;
}

.buttonsHead button {
    border: none;
    background-color: white;
    font-size: 16px;
    color: gray
}

.buttonsHead button:hover {
    color: black;
}

.prodWholeInfo {
    display: flex;
}

#mainPic img {
    width: 640px;
    height: 390px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 15px;
    margin-left: 10px;
}

#miniatures {
    display: flex;
    margin-left: 10px;
}

#miniatures img {
    width: 200px;
    height: 160px;
    object-fit: cover;
    margin-right: 20px;
}

.rute {
    font-family: roboto;
    font-weight: 200;
    color: gray;
    margin-left: 15px;
}

.prodInfo {
    font-family: roboto;
}

#nameProd {
    font-size: 30px;
    border-bottom: 1px lightgray solid;
    margin-bottom: 50px;
}

#descrip {
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 50px;
    margin-right: 20px;
}

#addButton button {
    border: none;
    background-color: gray;
    color: white;
    width: 200px;
    height: 75px;
    font-family: roboto;
    font-size: 20px;
    font-weight: 200;
    margin-top: 19px;
}

#addButton button:hover {
    background-color: white;
    border: 1px gray solid;
    color: gray;
}
